<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="appConString" connectionString="Server=.\SqlExpress;Database=WorkflowDemo1;Trusted_Connection=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FileName" value="output2.txt"/>
  </appSettings>
</configuration>